.mypage-modal-content {
  height: 820px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 28.433px;
  background: conic-gradient(
    from 122deg at 47.97% 52.33%,
    #ffe0cb 27.67605721950531deg,
    #eefcff 114.66499328613281deg,
    #f1f3f3 246.04843139648438deg
  );

  backdrop-filter: blur(1.8955460786819458px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1350px;
}

.MyPage-title{
  font-size: 25px;
  font-weight: 700;
  margin-left: 50px;
  margin-bottom: 20px;
}

.Mypage-Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.MyPage-All {
  display: flex;
  gap: 60px;
}
.MyPage-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}
.Mypage-profile-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.Mypage-Profile-img {
  width: 110px;
  height: 110px;
  background-color: rgb(211, 211, 211);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 이미지가 원 밖으로 나가지 않도록 */
}

.Mypage-Profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Mypage-Profile-name {
  color: #6f6f6f;
  font-size: 20px;
  font-weight: 700;
}
.Mypage-Profile-buttons {
  display: flex;
  gap: 20px;
}
.Mypage-Profile-button {
  width: 100px;
  height: 30px;
  border-radius: 4.739px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6f6f6f;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}
.Mypage-Select {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Mypage-Selecter {
  width: 250px;
  height: 70px;
  border-radius: 40px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  color: #101b49;
}
.Mypage-Selecter.selected {
  background: #101b49;
  color: #e5effd;
}
.Mypage-Selecter.selected .Mypage-Selecter-secondText {
  color: #c0dbff;
}
.Mypage-Selecter-num {
  font-size: 24px;
  font-weight: 600;
  width: 30px;
  margin-left: 10px;
}
.Mypage-Selecter-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Mypage-Selecter-mainText {
  font-size: 24px;
  font-weight: 600;
  width: 100px;
}
.Mypage-Selecter-secondText {
  font-size: 12px;
  margin-top: 3px;
  width: 150px;
}
.MyPage-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.MyPage-Title {
  color: #6f6f6f;
  font-size: 30px;
  font-weight: 700;
}
.MyPage-Content {
  height: 670px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 7.134px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 0.713px 21.401px 0px rgba(217, 217, 217, 0.54);
  min-width: 694px;
}

.Toastify__toast-container {
  z-index: 10000; /* 기본값보다 높은 값으로 설정 */
}

@media (max-width: 1570px) and (min-height: 901px) {
  .mypage-modal-content {
    height: 820px;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
  }
  .MyPage-All {
    flex-direction: column;
    align-items: center;
  }
  .Mypage-Select {
    flex-direction: row;
    justify-content: center;
  }
  .MyPage-title{
    font-size: 24px;
    font-weight: 700;
    margin-left: 50px;
    margin-bottom: 0px;
  }
  .MyPage-Content {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 860px;
    margin: 0;
    height: 480px !important;
  }
  .Mypage-Selecter {
    width: 130px;
    height: 55px;
    border-radius: 40px;
    gap: 5px;
  }
  .MyPage-Title {
    display: none;
  }
  .Mypage-Selecter-num {
    font-size: 17px;
  }
  .Mypage-Selecter-mainText {
    font-size: 18px;
    font-weight: 600;
    width: 70px;
  }
  .Mypage-Selecter-secondText {
    display: none;
  }
  .Mypage-Profile {
    flex-direction: column;
  }
  .Mypage-Profile-buttons {
    flex-direction: row;
  }
  .MyPage-All {
    gap: 20px;
  }
  .Mypage-profile-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .MyPage-left {
    gap: 10px;
  }
  .Mypage-Profile-img {
    width: 70px;
    height: 70px;
  }
}

@media (max-height: 900px) {
  .mypage-modal-content {
    height: 670px;
    width: 1050px;
  }
  .MyPage-All {
    gap: 40px;
  }
  .MyPage-title{
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .MyPage-left {
    gap: 30px;
  }
  .Mypage-Profile-img {
    width: 90px;
    height: 90px;
  }
  .Mypage-Profile-name {
    font-size: 18px;
  }
  .Mypage-Profile-buttons {
    display: flex;
    gap: 20px;
  }
  .Mypage-Profile-button {
    width: 90px;
    height: 30px;
    font-size: 12px;
  }
  .Mypage-Profile-buttons {
    gap: 15px;
  }
  .Mypage-Profile-button {
    width: 90px;
    height: 30px;
    font-size: 12px;
  }
  .Mypage-Select {
    gap: 5px;
  }
  .Mypage-Selecter {
    width: 200px;
    height: 60px;
    gap: 0px;
  }
  .Mypage-Selecter-num {
    font-size: 20px;
    width: 30px;
    margin-left: 10px;
  }
  .Mypage-Selecter-mainText {
    font-size: 20px;
  }
  .Mypage-Selecter-secondText {
    font-size: 12px;
    margin-top: 3px;
    width: 150px;
  }
  .MyPage-right {
    gap: 10px;
  }
  .MyPage-Title {
    font-size: 25px;
  }
  .MyPage-Content {
    height: 540px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 1270px) and (min-height: 801px) and (max-height: 900px) {
  .mypage-modal-content {
    height: 800px;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
  }
  .MyPage-All {
    flex-direction: column;
    align-items: center;
  }
  .MyPage-title{
    font-size: 24px;
    font-weight: 700;
    margin-left: 50px;
    margin-bottom: 0px;
  }
  .Mypage-Select {
    flex-direction: row;
    justify-content: center;
  }
  .MyPage-Content {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 850px;
    height: 500px !important;
    margin: 0;
  }
  .Mypage-Selecter {
    width: 130px;
    height: 55px;
    border-radius: 40px;
    gap: 5px;
  }
  .MyPage-Title {
    display: none;
  }
  .Mypage-Selecter-num {
    font-size: 17px;
  }
  .Mypage-Selecter-mainText {
    font-size: 18px;
    font-weight: 600;
    width: 70px;
  }
  .Mypage-Selecter-secondText {
    display: none;
  }
  .Mypage-Profile {
    flex-direction: column;
  }
  .Mypage-Profile-buttons {
    flex-direction: row;
  }
  .MyPage-All {
    gap: 20px;
  }
  .Mypage-profile-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .MyPage-left {
    gap: 10px;
  }
  .Mypage-Profile-img {
    width: 70px;
    height: 70px;
  }
  .MyPage-Content {
    height: 550px;
  }
}
@media (max-height: 800px) {
  .mypage-modal-content {
    height: 560px;
    width: 800px;
  }
  .MyPage-All {
    gap: 20px;
  }
  .MyPage-left {
    gap: 10px;
  }
  .Mypage-Profile-img {
    width: 60px;
    height: 60px;
  }
  .Mypage-Profile-name {
    font-size: 14px;
  }
  .Mypage-Profile-buttons {
    gap: 10px;
  }
  .Mypage-Profile-button {
    width: 65px;
    height: 30px;
    font-size: 10px;
  }
  .Mypage-Select {
    gap: 5px;
  }
  .Mypage-Selecter {
    width: 150px;
    height: 50px;
    gap: 0px;
  }
  .Mypage-Selecter-num {
    font-size: 13px;
    width: 30px;
    margin-left: 10px;
  }
  .Mypage-Selecter-mainText {
    font-size: 18px;
    width: 70px;
  }
  .Mypage-Selecter-secondText {
    font-size: 9px;
    margin-top: 3px;
    width: 120px;
  }
  .MyPage-right {
    gap: 10px;
  }
  .MyPage-Title {
    font-size: 20px;
  }
  .MyPage-Content {
    height: 430px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1025px) and (max-height: 800px) {
  .mypage-modal-content {
    height: 720px;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
  }
  .MyPage-All {
    flex-direction: column;
    align-items: center;
  }
  .Mypage-Select {
    flex-direction: row;
    justify-content: center;
  }
  .MyPage-Content {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 850px;
    margin: 0;
  }
  .Mypage-Selecter {
    width: 120px;
    height: 50px;
    border-radius: 40px;
    gap: 0px;
  }
  .MyPage-Title {
    display: none;
  }
  .Mypage-Selecter-num {
    font-size: 15px;
  }
  .Mypage-Selecter-mainText {
    font-size: 15px;
    font-weight: 600;
    width: 70px;
  }
  .Mypage-Selecter-secondText {
    display: none;
  }
  .Mypage-Profile {
    flex-direction: column;
  }
  .Mypage-Profile-buttons {
    flex-direction: row;
  }
  .Mypage-Profile-info{
    flex-direction: column;
  }
  .MyPage-All {
    gap: 20px;
  }
  .Mypage-profile-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .MyPage-left {
    gap: 10px;
  }
  .Mypage-Profile-img {
    width: 70px;
    height: 70px;
  }
  .MyPage-Content {
    height: 450px;
    width: 750px;
  }
}
