.Calendar-Container {
  width: 305.825px;
  height: 496.518px;
  border-radius: 30px;
  background: #fff;
  margin-left: 40px;
  position: relative;
}
.calendar-wrapper {
  width: 300px;
  border: 1px solid #e0e0e0;

  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: white;
}

.month-header {
  padding: 55px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 30px;
  position: relative;
}
.month-header div {
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.month-header .year {
  font-size: 18px;
  margin-left: 10px;
}
.month-header button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.month-header .prev-button {
  position: absolute;
  right: 30px;
  top: 10px;
}

.month-header .next-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
.week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px 0;
  width: 270px;
  border-bottom: 2.133px solid #b8b8b8;
  margin-left: 19px;
}

.week-day {
  text-align: center;
  font-family: Pretendard;
  font-size: 15.212px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #b8b8b8;
}

.week-day.sunday {
  color: #FF0000;
}

.week-day.saturday {
  color: #FF0000;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0px;
  background-color: #fff;
  width: 270px;
  margin-left: 17px;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #3c332b;
  row-gap: 15px;
}

.day {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e0e0e0;
  cursor: pointer;
}

.day.today {
  background-color: #3c332b;
  color: #fff;
  border-radius: 50%;
  transform: scale(0.9);
}

.empty-day {
  aspect-ratio: 1;
}
.event-count {
  background: rgb(216, 243, 255);
  border-radius: 5px;
  width: 30px;
  text-align: center;
  margin-top: 3px;
}
.event-count.no-background {
  background: none;
}
.event-count.empty {
  color: transparent;
  background: none;
}
.Calendar-button {
  border: none;
  background: var(--blue, #e4effc);
  position: absolute;
  right: 10px;
  top: 45px;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  font-family: pretendard;
  font-weight: 500;
  z-index: 10;
}
