.Footer-main {
  width: 100%;
  height: 305px;
  flex-shrink: 0;
  background: #191818;
  display: flex;
}
.Footer-Logo {
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: var(--blue, #ffede1);
}
.Footer-text {
  color: var(--gray1, #878787);
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Footer-Container {
  display: flex;
  gap: 50px;
  margin-left: 150px;
  margin-top: 70px;
  justify-content: space-between;
}
.Footer-up {
  position: absolute;
  right: 50px;
  margin-top: 50px;
  cursor: pointer;
}

.Footer-up img {
  width: 70px;
  height: 70px;
}

@media (max-width: 1100px) {
  .Footer-Container {
    margin-left: 100px;
  }
}
@media (max-width: 900px) {
  .Footer-Container {
    margin-left: 50px;
  }
  .Footer-up {
    margin-top: 150px;
  }
}
@media (max-width: 700px) {
  .Footer-Container {
    margin-left: 20px;
  }
}
