.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: #888;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

.tab.active {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.tab:not(.active):hover {
  color: #2d2d2d;
}

.Noticelist {
  width: 1096px;
  height: 30.353px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Noticelist-item {
  text-align: center;
  font-weight: bold;
  color: #a3a3a3;
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Noticelist-item.department {
  flex: 1;
}

.Noticelist-item.title {
  flex: 13;
  margin-right: -80px;
}

.Noticelist-item.date {
  flex: 2;
  margin-right: 77px;
}
.notice-all-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 700px;
  gap: 15px;
  flex-shrink: 0;
  overflow-x: hidden;
  width: 1096px;
}
.notice-all-container::-webkit-scrollbar {
  width: 8px;
  margin-left: 20px;
}

.notice-all-container::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

.notice-all-container::-webkit-scrollbar-thumb {
  background-color: var(--Srollbar);
  border-radius: 5px;
}

.notice {
  width: 1096px;
  height: 52.999px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  color: #3c332b;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  font-display: swap;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.notice:hover {
  transform: scale(1.03);
}

.department {
  width: 120px;
  flex: 0.8;
  margin-left: 80px;
  display: flex;
}
.title {
  margin-left: -100px;
  flex: 2.5;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.date {
  width: 120px;
  flex: 0.5;
  margin-left: 30px;
}
.bookmark-icon {
  cursor: pointer;
  margin-right: 25px;
  width: 25px;
  height: 25px;
}
.notice-all-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.notice-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.pagination img {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.pagination img.disabled {
  opacity: 0.3;
}

.pagination span {
  cursor: pointer;
  flex-shrink: 0;
}

.pagination span.active {
  text-align: center;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pagination span.disabled {
  opacity: 0.3;
}
@media (max-width: 1100px) {
  .Noticelist,
  .notice-all-container,
  .notice {
    width: 780px;
  }
  .bookmark-icon,
  .date {
    display: none;
  }
}
.bookmark-icon.updating {
  opacity: 0.5;
  cursor: not-allowed;
}
.notice-highlight {
  color: red; /* 또는 원하는 색상 */
}
