@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

:root {
  --main-background-color: #f5f3f0;
  --searchbar-background-color: #dbd7d4;
  --searchbar-font-color: rgba(35, 35, 35, 0.5);
  --button-background-color: #fff;
  --button-border: none;
  --main-container-background: conic-gradient(
    from 107deg at 45.62% 65.84%,
    #9FCDFF 0deg,
    #B4D7FF 120deg,
    #E7F2FF 240deg,
    #F6FBFF 360deg
  );
  --Srollbar: #ffeee3;
}

body {
  margin: 0;
  font-family: 'Pretendard';
  user-select: none;
  background: var(--main-backgrounsd-color);
  overflow-x: hidden;
}
